<!-- 
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Diproavilm</ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="marco">
  <div>
    <div class="center header">
      <img alt="Diproavilm Cia. Ltda." src="/assets/logo.jpg" />
      <ion-card-title>Gestión de Almacen <small>v0.1</small></ion-card-title>
      <!-- <small><strong>Ingrese usuario y contraseña</strong></small> -->
    </div>
    <div>
      <ion-input type="text" class="center" labelPlacement="stacked" [(ngModel)]="username"  placeholder="Nombre de usuario"></ion-input>
      <ion-input type="password" class="center" labelPlacement="stacked" [(ngModel)]="password"  placeholder="Contraseña"></ion-input>
      <br>
      <ion-button (click)="signin()" color="primary"  fill="solid" expand="block">
        Ingresar
      </ion-button>
      <br>
      <div class="center">
        <ion-button (click)="signin()" size="small" color="medium"  fill="clear">
          Establecer contraseña
        </ion-button>
        <br>
        <ion-button (click)="signin()" size="small" color="medium"  fill="clear">
          Cambiar contraseña
        </ion-button>
      </div>

      <br/>
      <div class="center">
        <ion-text  color="medium">
          <br/>
          <small>
            Derechos de Copia ©, <strong>DIPROAVILM Cia. Ltda.</strong>, {{current_year}}
          </small>
          <br/>
          <small>
            Power By <strong>7UG8</strong>
          </small>
          <br/>
          <br/>
        </ion-text>
      </div>
    </div>
  
  </div>
</div>
