<ion-header [translucent]="true" [mode]="'ios'">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kardex</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary" *ngIf="showProducts">
    <ion-searchbar
      [mode]="'ios'"
      placeholder="Buscar"
      (keyup)="find($event)"
      [(ngModel)]="buscar"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="showProducts">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="getProductos()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-item color="light">
    <ion-icon name="layers-outline" class="circulos"></ion-icon>
    <h1>Kardex de Productos</h1>
  </ion-item>
  @if(lstProd && lstProd.length>0){
  <ion-item-sliding *ngFor="let i of lstProd">
    @defer (on viewport) {
    <div>
      <ion-item>
        <ion-avatar>
          @if(i.deleted_at===null){
          <ion-icon name="layers-outline" class="t30" color="secondary"></ion-icon>
          }@else {
          <img alt="producto" src="/assets/images/eliminado.svg" />
          }
        </ion-avatar>

        <ion-label>
          <span>{{i.name}}</span><br />
          <small>
            {{func.numberFormat(i.stock,2)}} {{i.presentation}} - <strong color="success">Costo: $</strong>
              {{i.cost}}
          </small>
        </ion-label>
      </ion-item>

      <ion-item-options side="end" class="item-options">
        <ion-item-option color="clear">
          <ion-button
            (click)="kardex(i.idproduct,0)"
            shape="round"
            color="warning"
          >
            Por Stock
          </ion-button>
        </ion-item-option>
        <ion-item-option color="clear">
          <ion-button
            (click)="kardex(i.idproduct,1)"
            shape="round"
            color="success"
          >
            Por Costo
          </ion-button>
        </ion-item-option>
      </ion-item-options>
    </div>
    } @loading {
    <ion-item>Cargando</ion-item>
    } @placeholder {
    <ion-item>Cargando</ion-item>
    }
  </ion-item-sliding>
  }@else {
  <ion-item lines="none">
    <i>No se encontraron elementos</i>
  </ion-item>
  }
  <ion-list *ngIf="lstProd && lstProd.length>0"> </ion-list>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="showProductsStock" class="ion-padding">
  <ion-list>
    <ion-item lines="none">
      <ion-button
        fill="clear"
        color="medium"
        (click)="retornar()"
      >
        <ion-icon name="chevron-back-outline"></ion-icon> Regresar
      </ion-button>
      <ion-button (click)="exportar(1)" fill="clear" slot="end" color="secondary">
        <ion-icon name="print-outline"></ion-icon>
        Exportar PDF
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-text>
        <h1>Kardex de productos</h1>
        <h6>Por stock</h6>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <br>
        {{rstProd.productcode}} | {{rstProd.barcode}} <br>
        <strong class="t16">{{rstProd.name}} </strong>
        <br>
        Costo: {{func.numberFormat(rstProd.cost,4)}} <br>
        Stock: {{func.numberFormat(rstProd.stock,2)}} 
        <br>
        <br>
      </ion-text>
    </ion-item>
  
  @if(lstKardex && lstKardex.length>0){
  <ion-grid>
    <ion-row>
      <ion-col size="4">Fecha</ion-col>
      <ion-col size="2">Asiento</ion-col>
      <ion-col size="2" class="right">Ing</ion-col>
      <ion-col size="2" class="right">Egr</ion-col>
      <ion-col size="2" class="right">Saldo</ion-col>
    </ion-row>
    <ion-row *ngFor="let i of lstKardex">
      @defer (on viewport) {
          <ion-col size="4">{{i.fecha}}</ion-col>
          <ion-col size="2">{{i.asiento}}</ion-col>
          <ion-col size="2" class="right">{{i.ing_cant}}</ion-col>
          <ion-col size="2" class="right">{{i.egr_cant}}</ion-col>
          <ion-col size="2" class="right">{{i.sal_cant}}</ion-col>

      } @loading {
      <ion-item>Cargando</ion-item>
      } @placeholder {
      <ion-item>Cargando</ion-item>
      }
    </ion-row>
  </ion-grid>
}@else {
  <ion-item lines="none">
    <i>No se encontraron elementos</i>
  </ion-item>
}
</ion-list>
</ion-content>


<ion-content [fullscreen]="true" *ngIf="showProductsCost" class="ion-padding">
  <ion-list>
    <ion-item lines="none">
      <ion-button
        fill="clear"
        color="medium"
        (click)="retornar()"
      >
        <ion-icon name="chevron-back-outline"></ion-icon> Regresar
      </ion-button>
      <ion-button (click)="exportar(2)" fill="clear" slot="end" color="secondary">
        <ion-icon name="print-outline"></ion-icon>
        Exportar PDF
      </ion-button>
      
    </ion-item>
    
    <ion-item>
      <ion-text>
        <h1>Kardex de productos</h1>
        <h6>Por costo</h6>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <br>
        {{rstProd.productcode}} | {{rstProd.barcode}} <br>
        <strong class="t16">{{rstProd.name}} </strong>
        <br>
        Costo: {{func.numberFormat(rstProd.cost,4)}} <br>
        Stock: {{func.numberFormat(rstProd.stock,2)}} 
        <br>
        <br>
      </ion-text>
    </ion-item>
  
  @if(lstKardex && lstKardex.length>0){
  <ion-grid>
    <ion-row>
      <ion-col size="4">Fecha</ion-col>
      <ion-col size="2">I/E</ion-col>
      <ion-col size="2" class="right">Ing</ion-col>
      <ion-col size="2" class="right">Egr</ion-col>
      <ion-col size="2" class="right">Saldo</ion-col>
    </ion-row>
    <ion-row *ngFor="let i of lstKardex">
      @defer (on viewport) {
          <ion-col size="4">{{i.fecha}}</ion-col>
          <ion-col size="2">{{i.asiento}}</ion-col>
          <ion-col size="2" class="right">{{func.numberFormat(i.ing_costo,4)}}</ion-col>
          <ion-col size="2" class="right">{{func.numberFormat(i.egr_costo,4)}}</ion-col>
          <ion-col size="2" class="right">{{func.numberFormat(i.sal_costo,4)}}</ion-col>

      } @loading {
      <ion-item>Cargando</ion-item>
      } @placeholder {
      <ion-item>Cargando</ion-item>
      }
    </ion-row>
  </ion-grid>
}@else {
  <ion-item lines="none">
    <i>No se encontraron elementos</i>
  </ion-item>
}
</ion-list>
</ion-content>



<ion-fab horizontal="end" vertical="top">
  <ion-fab-button color="secondary">
    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color="warning" (click)="getProductos()">
      <ion-icon name="repeat"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>