
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
</ion-content>

<ion-footer>
  <ion-toolbar class="center tbm">
    <ion-button shape="round"  color="secondary">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    <ion-button shape="round"  color="secondary">
      <ion-icon slot="icon-only" name="pencil"></ion-icon>
    </ion-button>
    <ion-button shape="round" color="danger" >
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
    <ion-button shape="round" color="warning" >
      <ion-icon slot="icon-only" name="brush"></ion-icon>
    </ion-button>
    
    <ion-button shape="round"  color="secondary">
      <ion-icon slot="icon-only" name="refresh"></ion-icon> 
    </ion-button> 
  </ion-toolbar>
</ion-footer>
