<ion-header [translucent]="true">
  <ion-toolbar  color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input
      (keyup)="find($event)"
      label="Buscar"
      labelPlacement="stacked"
      [(ngModel)]="buscar"
      placeholder="Ingrese el texto a buscar"
    ></ion-input>
  </ion-item>
  @if(lstUsers && lstUsers.length>0){
  <ion-item-sliding *ngFor="let i of lstUsers">
    @defer (on viewport) {
      <div>

        <ion-item>
          <ion-avatar>
            <img alt="user" src="/assets/images/user.svg" />
          </ion-avatar>
    
          @if(i.status){
            <ion-label>
              <strong>{{i.fullname}}</strong><br />
              <small><strong>{{i.rolename}}</strong></small><br />
              @if(i.scope.includes("R")){ <ion-badge color="success" class="mr-1">R</ion-badge> }
              @if(i.scope.includes("W")){ <ion-badge color="warning" class="mr-1">W</ion-badge> }
              @if(i.scope.includes("D")){ <ion-badge color="danger"  class="mr-1">D</ion-badge> }
            </ion-label>
            <ion-badge color="secondary" class="mr-1">Activo</ion-badge> 
          } @else {
            <ion-label>
              <strong><del>{{i.fullname}}</del></strong><br />
              <small><strong>{{i.rolename}}</strong></small><br />
            </ion-label>
            @if(i.deleted_at!==null){
              <ion-badge color="danger" class="mr-1">Eliminado</ion-badge> 
            } @else {
              <ion-badge color="medium" class="mr-1">Inactivo</ion-badge> 
            }
          }
          <!-- <div class="metadata-end-wrapper" slot="end">
            <ion-icon color="medium" name="chevron-forward"></ion-icon>
          </div> -->
        </ion-item>
    
        <ion-item-options side="start" *ngIf="i.deleted_at===null">
          <ion-item-option color="clear">
            <ion-button
              (click)="reestablecerClave(i.iduser)"
              shape="round"
              color="warning"
            >
            Restablecer Clave
            </ion-button>
          </ion-item-option>
        </ion-item-options>
    
    
        <ion-item-options side="end" class="item-options">
          <ion-item-option color="clear">
            <ion-button
              (click)="edit(i.iduser)"
              shape="round"
              color="secondary"
            >
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button *ngIf="i.deleted_at===null" (click)="del(i.iduser)" shape="round" color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
    
            <ion-button *ngIf="i.deleted_at!==null" (click)="recuperar(i.iduser)" shape="round" color="warning">
              <!-- <ion-icon name="return-up-back-outline"></ion-icon> -->
              Recuperar
            </ion-button>
          </ion-item-option>
        </ion-item-options>
      </div>
    } @loading {
      <ion-item>Cargando</ion-item>
    } @placeholder {
      <ion-item>Cargando</ion-item>
      }

  </ion-item-sliding>
  }@else {
  <ion-item lines="none">
    <i>No se encuentra elementos</i>
  </ion-item>
  }
  <ion-list *ngIf="lstUsers && lstUsers.length>0"> </ion-list>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar class="center tbm">
    <ion-button shape="round" color="secondary">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    <ion-button (click)="getData(true)" shape="round" color="secondary">
      <ion-icon  slot="icon-only" name="refresh"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer> -->

<ion-fab horizontal="end" vertical="top" color="secondary">
  <ion-fab-button>
    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color="secondary" (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="warning" (click)="getData(true)">
      <ion-icon name="repeat"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
