<ion-header [translucent]="true">
  <ion-toolbar  color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-searchbar 
      [mode]="'ios'" 
      search-icon="search-circle" 
      placeholder="Buscar"
      (keyup)="find($event)"
      [(ngModel)]="buscar"
      ></ion-searchbar>
    <!-- <ion-input
      (keyup)="find($event)"
      label="Buscar"
      labelPlacement="stacked"
      [(ngModel)]="buscar"
      placeholder="Ingrese el texto a buscar"
    ></ion-input> -->
  </ion-item>
  @if(lstBene && lstBene.length>0){
  <ion-item-sliding *ngFor="let i of lstBene; trackBy: trackById">
    @defer (on viewport; prefetch on idle) {
      <div>
        <ion-item>
          <ion-avatar>
            @if(i.deleted_at===null){
              <img alt="beneficiario" src="/assets/images/beneficiario.svg"/>
            }@else {
              <img alt="beneficiario" src="/assets/images/eliminado.svg"/>
            }
          </ion-avatar>

          @if(i.deleted_at===null){
            <ion-label>
              <strong>{{i.nombre}}</strong><br />
              <small><strong>{{i.identification}} {{i.nombrecomercial}}</strong></small><br />
              @if(i.type == "C"){ <ion-badge color="success" class="mr-1">Cliente</ion-badge> }
              @if(i.type == "P"){ <ion-badge color="warning" class="mr-1">Proveedor</ion-badge> }
              @if(i.type == "A"){ <ion-badge color="danger"  class="mr-1">Cliente y Proveedor</ion-badge> }
              @if(i.type == "E"){ <ion-badge color="danger"  class="mr-1">Diproavilm</ion-badge> }
              <br>
              <small><strong>{{i.provincia}} - {{i.ciudad}}</strong></small>
            </ion-label>
          }@else {
            <ion-label color="danger"><del>{{i.nombre}}</del></ion-label>
          }
        </ion-item>
    
        <ion-item-options side="end" class="item-options">
          <ion-item-option color="clear">
            <ion-button
              *ngIf="i.deleted_at===null && this.scopeW" 
              (click)="edit(i.idbeneficiary)"
              shape="round"
              color="secondary"
            >
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button *ngIf="i.deleted_at===null && this.scopeD"  (click)="del(i.idbeneficiary)" shape="round" color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
    
            <ion-button *ngIf="i.deleted_at!==null && this.scopeW" (click)="recuperar(i.idbeneficiary)" shape="round" color="warning">
              Recuperar
            </ion-button>
          </ion-item-option>
        </ion-item-options>
      </div>
    } @loading {
      <ion-item>Cargando</ion-item>
    } @placeholder {
      <ion-item>Cargando</ion-item>
    }
  </ion-item-sliding>

  }@else {
  <ion-item lines="none">
    <i>No se encontraron elementos</i>
  </ion-item>
  }
  <ion-list *ngIf="lstBene && lstBene.length>0"> </ion-list>
</ion-content>


<ion-fab horizontal="end" vertical="top">
  <ion-fab-button color="secondary">
    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button *ngIf="this.scopeW" color="secondary" (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="warning" (click)="getData(true)">
      <ion-icon name="repeat"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
