.marco{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(76, 87, 87);
    height: 100%;
    font-family: "Lato", Verdana, Tahoma, sans-serif;
}

.font-lato{
    font-family: "Lato", Verdana, Tahoma, sans-serif;
}

.footer{
    background-color: #dadada !important;
}

.noborder{
    border: 0 !important;
}

ion-card-header{
    text-align: center;
}

.center{
    text-align: center;
}

img{
    width: 180px;
}

.header{
    padding-bottom: 20px;
}

ion-button{
    text-transform: capitalize;
}

.iconos{
    font-size: 10px;
}

.t10{font-size: 10px;}
.t11{font-size: 11px;}
.t12{font-size: 12px;}
.t14{font-size: 14px;}


ion-segment {
    --background: #54dc98;
}