<div class="marco">
  <div>
    <div class="center header">
      <img alt="Diproavilm Cia. Ltda." src="/assets/logo.jpg" />
      <ion-card-title>Gestión de Almacen</ion-card-title>
      <small><strong>Establezca una contraseña</strong></small>
    </div>

    <div>
      <ion-input
        type="text"
        labelPlacement="stacked"
        [(ngModel)]="username"
        placeholder="Nombre de usuario"
      ></ion-input>
      <ion-input
        type="password"
        labelPlacement="stacked"
        [(ngModel)]="password"
        placeholder="Contraseña nueva"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      
      <ion-input
        type="password"
        labelPlacement="stacked"
        [(ngModel)]="confirm_password"
        placeholder="Contraseña confirmación"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>

      <ion-button
        (click)="signin()"
        color="primary"
        fill="solid"
        expand="block"
      >
        Establecer Contraseña
      </ion-button>

      <br />

      <ion-toolbar>
        <ion-buttons slot="start">
            
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            (click)="regresar()"
            fill="clear"
            size="small"
            color="medium"
            class="iconos"
          >
            Regresar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <br />

      <small color="danger">{{seguridad_pass}}</small>
    </div>
  </div>
</div>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="t11 center"> 
      Derechos de Copia ©, <strong>DIPROAVILM Cia. Ltda.</strong>,
      {{current_year}}, v0.1
    </ion-title>
  </ion-toolbar>
</ion-footer>
