<div class="contenido">
  <div class="screen">
    <div class="header">
      <img alt="Diproavilm Cia. Ltda." src="/assets/images/logo.png" />
      <span class="title">Gestión de Almacén</span>
      <span>Ingrese usuario y contraseña</span>
    </div>
    
    <div class="body">
      <ion-input
        type="text"
        labelPlacement="stacked"
        [(ngModel)]="username"
        placeholder="Nombre de usuario"
      ></ion-input>
      <ion-input
        type="password"
        labelPlacement="stacked"
        [(ngModel)]="password"
        placeholder="Contraseña"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>

      <br>
      <br>

      <ion-button
        (click)="signin()"
        color="secondary"
        fill="solid"
        expand="block"
      >
        Ingresar
      </ion-button>

      <div class="btns">
        <ion-button
          (click)="restablecerClave()"
          fill="clear"
          size="small"
        >
          Establecer contraseña
        </ion-button>
        <ion-button
          (click)="changeClave()"
          fill="clear"
          size="small"
        >
          Cambiar contraseña
        </ion-button>
      </div>
    </div>
  </div>
</div>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="t11 center"> 
      Derechos de Copia ©, <strong>DIPROAVILM Cia. Ltda.</strong>,
      {{current_year}}, v0.1
    </ion-title>
  </ion-toolbar>
</ion-footer>
