/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.center{
    text-align: center;
}

.icon{
    color: #8c949b;
    font-size: 45px !important;
}

.tbm{
    ion-button{
        margin-right: 15px;
    }
}

.contenido{
    display: flex;

    height: 100vh;
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #fff ;
    // background: linear-gradient(#ffd64fd8, #7a6f0bd3),
    //background: linear-gradient(#0b7eb3e7, #0b7eb344), url('/assets/images/granja.jpg');
    background: linear-gradient(#0b7eb3e7, #0b7eb344), url('/assets/images/fondo4.jpg');
    // background-image: url("/assets/images/granja.jpg");
    color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}


.t10{font-size: 10px;}
.t11{font-size: 11px;}
.t12{font-size: 12px;}
.t14{font-size: 14px;}

.screen{
    background-color: #ffffffbe;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;

    img{
        width: 150px;
        margin-top: 20px;
    }

    .title{
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
    }
}

.body{
    width: 90%;
    background: transparent;
    .btns{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        color: #000;
        ion-button{
            text-transform: capitalize;
            font-size: 14px;
            color: #000;
            // border: 1px solid #2c2c2c;
        }
    }
}


.derechos{ 
    display: flex;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
}


ion-button{
    text-transform: capitalize;
    font-size: 14px;
}

.alert-info{
    --background: #ffffff;
    --color: #000;
    --backdrop-opacity: 0.6;
    --button-background-selected: #ffffff;
    --button-color: #000000;
    --ion-color-danger: #000000;
}

.alert-error{
    --background: #b4362d;
    --backdrop-opacity: 0.6;
    --button-background-selected: #e9e2de;
    --button-color: #000000;
    --color: #fff;
    --ion-color-danger: #000000;
}